# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
.idea
env/
venv/
ENV/
env.bak/
venv.bak/

# Logging
.comet.config
*.log

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Mac OS-specific storage files
.DS_Store
**/.DS_Store

# Google Drive specific files
.tmp.driveupload
.tmp.drivedownload

# Data and project
projects/
data/

