# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.idea
env/
venv/
ENV/
env.bak/
venv.bak/

# Logging
.comet.config
*.log

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Mac OS-specific storage files
.DS_Store
**/.DS_Store

# Google Drive specific files
.tmp.driveupload
.tmp.drivedownload

# Data and project
projects/
data/

