# Geo-trax core requirements
# Usage: pip install -r requirements.txt

# Detection and Tracking -----------------------
ultralytics==8.0.209
lapx>=0.5.2 

# Video Stabilization --------------------------
stabilo>=1.0.0

# Ensure numpy<2.0
numpy>=1.26.4,<2.0

# Ensure torch<2.6
torch>=1.10.0,<2.6